@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.main {
  width: 100vw;
  height: auto;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
}

.container {
  width: 100%;
  padding: 20px 56px 60px 56px;
  margin: 0 auto;
  background-color: white;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.header {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.welcome {
  width: 100%;
  max-width: 800px;
  padding-top: 112px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
  align-items: center;
	align-content: stretch;
  color: #222;
  text-align: center;
}

.title {
  margin-bottom: 32px;
}

.text {
  font-size: 20px;
  line-height: 32px;
}

.wrapper {
  width: 100vw;
  height: auto;
  padding: 0 56px;
}

.title-2 {
  font-size: 32px;
  line-height: 30px;
  padding-top: 60px;
  padding-bottom: 120px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: white;
}

.collections {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  gap: 40px;
  padding-bottom: 120px;
}

.collection-name {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  gap: 16px;
}

.chain-logo {
  width: 24px;
  height: 24px;
}

img {
  max-width: 100%;
}

.col-items {
  display: grid; 
  grid-auto-flow: column; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 40px 40px; 
}

.item-title{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.col-item{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
  gap: 16px;
}

.item-info{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  gap: 16px;
}

.mint-nft-button{
  width: 100% !important;
  border-radius: 4px !important;
  margin: 0 !important;
}
